<!DOCTYPE html>
<html>
  <head>
    <title>カロリー計算サイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
        <h1>あなたが行った有酸素運動がない場合</h1>
        <form action="" method = "post" >
          <div>
            <label>有酸素運動名：</label>
            <input type="text" name="aerobic_name"/>
          </div>
          <div>
            <label>一分あたりのカロリー：</label>
            <input type="number" name="aerobic_calorie"/>
          </div>
            <input type="submit" value="有酸素運動登録"/>
    </form>
  </body>
</html>
