<!DOCTYPE html>
<html>
  <head>
    <title>カロリー計算サイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
        <h1>摂取した食事がない場合</h1>
        <form action="" method = "post" >
          <div>
            <label>材料名：</label>
            <input type="text" name="cuisine_name"/>
          </div>
          <div>
            <label>一食あたりのカロリー：</label>
            <input type="number" name="cuisine_calorie"/>
          </div>
            <input type="submit" value="食事登録"/>
    </form>
  </body>
</html>
