<!DOCTYPE html>
<html>
  <head>
    <title>カロリー計算サイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>ようこそカロリー計算サイトへ </p>
    <h1>今日行った筋肉トレーニングを登録</h1>
    <form method="post" action="">
      <p><%= muscle %></p>
        <div>
            <label>今日した筋肉トレーニングIDを入力：</label>
            <input type="number" name="muscle_id"/>
        </div>
        <div>
            <label>回数を入力：</label>
            <input type="number" name="weight"/>
        </div>
        <p><input type="submit" value="送信する"></p>
    </form>
    <form>
        <h1>あなたが行った筋肉トレーニングがない場合</h1>
        <input type="button" value="筋肉トレーニング登録" onclick="location.href='http://localhost:3000/calorie/muscle_insert'"/>
    </form>
  </body>
</html>
