<!DOCTYPE html>
<html>
  <head>
    <title>カロリー計算サイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
        <h1>あなたが行った筋肉トレーニングがない場合</h1>
        <form action="" method = "post" >
          <div>
            <label>筋肉トレーニング名：</label>
            <input type="text" name="muscle_name"/>
          </div>
          <div>
            <label>一回あたりのカロリー：</label>
            <input type="number" name="muscle_calorie"/>
          </div>
            <input type="submit" value="筋肉トレーニング登録"/>
    </form>
  </body>
</html>
